In [1]:
import pandas as pd

earthquake = pd.read_csv('Earthquake_data_dataset.csv')
earthquake.head()

,title,magnitude,date_time,cdi,mmi,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN

In [5]:
maximum_threshold = earthquake['magnitude'].quantile(0.95)

earthquake[earthquake['magnitude']>maximum_threshold]

,title,magnitude,date_time,cdi,mmi,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,country
56,M 8.1 - South Sandwich Islands region,8.10,12-08-2021 18:35,0,7,0,1009,us,0,7.463,78.0,mww,22.79,-58.4157,-25.3206,NaN
59,"M 8.2 - 91 km ESE of Perryville, Alaska",8.20,29-07-2021 06:15,8,6,1,1237,us,0,0.875,66.0,mww,46.66,55.4742,-157.9170,NaN
60,"M 8.2 - 99 km SE of Perryville, Alaska",8.20,29-07-2021 06:15,8,7,1,1252,ak,0,0.000,0.0,mww,35.00,55.3154,-157.8290,NaN
74,"M 8.1 - Kermadec Islands, New Zealand",8.10,04-03-2021 19:28,9,8,1,1021,us,0,0.739,21.0,mww,28.93,-29.7466,-177.2240,NaN
129,"M 8.0 - 78 km NE of Navarro, Peru",8.00,26-05-2019 07:41,9,8,1,1890,us,0,3.180,17.0,mww,122.57,-5.8119,-75.2697,Peru
163,"M 7.9 - 45 km S of Levuka, Fiji",7.90,06-09-2018 15:49,7,4,1,979,us,0,1.431,12.0,mww,670.81,-18.4743,179.3500,Fiji
170,"M 8.2 - 267 km E of Levuka, Fiji",8.20,19-08-2018 00:19,5,4,1,1050,us,0,3.630,13.0,mww,600.00,-18.1125,-178.1530,Fiji
182,"M 7.9 - 261 km SE of Chiniak, Alaska",7.90,23-01-2018 09:31,9,4,1,1870,us,0,2.585,30.0,mww,14.06,56.0039,-149.1660,NaN
198,"M 8.2 - near the coast of Chiapas, Mexico",8.20,08-09-2017 04:49,9,7,1,2910,us,0,0.944,22.0,mww,47.39,15.0222,-93.8993,NaN
217,"M 7.9 - 35 km WNW of Panguna, Papua New Guinea",7.90,22-01-2017 04:30,9,7,1,987,us,0,3.625,9.0,mww,135.00,-6.2464,155.1720,Papua New Guinea
223,"M 7.9 - 140 km E of Kokopo, Papua New Guinea",7.90,17-12-2016 10:51,9,7,1,972,us,0,1.389,13.0,mww,94.54,-4.5049,153.5220,Papua New Guinea
285,"M 8.3 - 48 km W of Illapel, Chile",8.30,16-09-2015 22:54,9,8,1,1960,us,0,0.684,19.0,mww,22.44,-31.5729,-71.6744,Chile
336,"M 7.9 - Rat Islands, Aleutian Islands, Alaska",7.90,23-06-2014 20:53,6,8,1,963,us,0,0.133,22.0,mww,109.00,51.8486,178.7350,United States of America
356,"M 8.2 - 93 km NW of Iquique, Chile",8.20,01-04-2014 23:46,9,8,1,1332,us,0,0.609,23.0,mww,25.00,-19.6097,-70.7691,NaN
393,M 8.3 - Sea of Okhotsk,8.30,24-05-2013 05:44,5,5,1,1115,us,385,0.000,10.0,mww,598.10,54.8920,153.2210,NaN
414,"M 8.0 - 75 km W of Lata, Solomon Islands",8.00,06-02-2013 01:12,8,7,1,993,us,460,0.000,20.9,mww,24.00,-10.7990,165.1140,NaN
440,M 8.2 - off the west coast of northern Sumatra,8.20,11-04-2012 10:43,9,6,0,1213,us,341,0.000,14.9,mwc,25.10,0.8020,92.4630,NaN
441,M 8.6 - off the west coast of northern Sumatra,8.60,11-04-2012 08:38,9,7,0,2048,official,499,0.000,16.6,mw,20.00,2.3270,93.0630,NaN
475,"M 7.9 - 47 km E of ?arai, Japan",7.90,11-03-2011 06:15,8,7,0,1140,us,163,0.000,48.4,mwc,42.60,36.2810,141.1110,NaN
476,"M 9.1 - 2011 Great Tohoku Earthquake, Japan",9.10,11-03-2011 05:46,9,8,0,2184,official,541,0.000,9.5,mww,29.00,38.2970,142.3730,NaN
517,"M 8.8 - 36 km WNW of Quirihue, Chile",8.80,27-02-2010 06:34,8,8,0,1991,official,454,0.000,17.8,mww,22.90,-36.1220,-72.8980,Chile
535,"M 8.1 - 168 km SSW of Matavai, Samoa",8.10,29-09-2009 17:48,7,6,0,1055,us,520,0.000,20.8,mwc,18.00,-15.4890,-172.0950,NaN
562,"M 7.9 - 58 km W of Tianpeng, China",7.90,12-05-2008 06:28,9,9,0,1870,us,774,0.000,11.3,mwc,19.00,31.0020,103.3220,People's Republic of China
591,"M 7.9 - 87 km SW of Sungai Penuh, Indonesia",7.90,12-09-2007 23:49,8,7,0,1133,us,446,0.000,29.1,mwc,35.00,-2.6250,100.8410,Indonesia
593,"M 8.4 - 122 km SW of Bengkulu, Indonesia",8.40,12-09-2007 11:10,0,6,0,1086,official,411,0.000,32.3,mww,34.00,-4.4380,101.3670,Indonesia
597,"M 8.0 - 41 km SW of San Vicente de Cañete, Peru",8.00,15-08-2007 23:40,9,8,0,1385,us,625,0.000,25.7,mwc,39.00,-13.3860,-76.6030,Peru
606,"M 8.1 - 45 km SSE of Gizo, Solomon Islands",8.10,01-04-2007 20:39,9,8,0,1025,us,439,0.000,14.7,mwc,24.00,-8.4660,157.0430,Solomon Islands
611,M 8.1 - east of the Kuril Islands,8.10,13-01-2007 04:23,4,5,0,1034,us,606,0.000,14.0,mwc,10.00,46.2430,154.5240,NaN
614,M 8.3 - Kuril Islands,8.30,15-11-2006 11:14,4,7,0,1064,us,576,0.000,20.9,mwc,10.00,46.5920,153.2660,NaN
627,"M 8.0 - 47 km SSE of Pangai, Tonga",8.00,03-05-2006 15:26,7,7,0,1013,us,626,0.000,20.7,mwc,55.00,-20.1870,-174.1230,NaN
628,"M 8.0 - 50 km ESE of Pangai, Tonga",8.00,03-05-2006 15:26,8,9,0,1026,duputel,0,0.000,0.0,mww,60.50,-19.9900,-173.9070,NaN
657,"M 8.6 - 78 km WSW of Singkil, Indonesia",8.60,28-03-2005 16:09,0,8,0,1138,official,510,0.000,22.1,mww,30.00,2.0850,97.1080,Indonesia
668,M 9.1 - 2004 Sumatra - Andaman Islands Earthquake,9.10,26-12-2004 00:58,0,8,0,1274,official,601,0.000,22.0,mw,30.00,3.2950,95.9820,Indonesia
669,M 8.1 - north of Macquarie Island,8.10,23-12-2004 14:59,0,5,0,1009,us,331,0.000,59.3,mwc,10.00,-49.3120,161.3450,NaN
712,"M 8.2 - 134 km SSW of Kushiro, Japan",8.16,25-09-2003 19:50,0,9,0,1024,official,0,0.000,0.0,mww,27.00,41.8150,143.9100,NaN
730,"M 7.9 - 75 km E of Cantwell, Alaska",7.90,03-11-2002 22:12,8,9,0,1750,ak,0,0.000,0.0,mw,4.20,63.5141,-147.4530,United States of America
767,"M 8.4 - 6 km SSW of Atico, Peru",8.40,23-06-2001 20:33,0,8,0,1086,official,518,0.000,0.0,mww,33.00,-16.2650,-73.6410,Peru

In [6]:
minimum_threshold = earthquake['magnitude'].quantile(0.05)

earthquake[earthquake['magnitude']>minimum_threshold]

,title,magnitude,date_time,cdi,mmi,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,10-01-2001 16:02,5,7,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,NaN
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,09-01-2001 16:49,0,7,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,01-01-2001 08:54,0,5,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,NaN
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,01-01-2001 06:57,0,7,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,Philippines

In [7]:
earthquake_no_outliers = earthquake[(earthquake['magnitude']> minimum_threshold) & (earthquake['magnitude']< maximum_threshold)]
earthquake_no_outliers

,title,magnitude,date_time,cdi,mmi,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,10-01-2001 16:02,5,7,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,NaN
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,09-01-2001 16:49,0,7,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,01-01-2001 08:54,0,5,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,NaN
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,01-01-2001 06:57,0,7,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,Philippines

In [10]:
x = earthquake_no_outliers.iloc [:, 1:]
y = earthquake_no_outliers.iloc [:, 0]

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [12]:
from sklearn.svm import SVR

model = SVR()
model.fit(x_train, y_train)

ValueError: could not convert string to float: '10-01-2018 02:51'